@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .sobre-containers {
    flex-wrap: wrap;
  }
  #contato,
  #projects {
    height: fit-content;
  }
}@media screen and (max-width: 1200px) {

  #nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    margin-top: 3rem; /* Adicionei margem superior */
  }
  #contato{
    margin: 10rem 5% 0 5%; /* Aumentei a margem superior para 5rem */
  }

  .logo {
    font-size: 2.1rem;
    height: 9px;
    margin: 2rem auto 1rem; /* Aumentei a margem superior */
    align-items: center;
  }

  #contato{
    height: 45vh;
  }
  .contato-info-upper-container{
    display: flex;
    flex-direction: column;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 45px;
    align-items: center;
    margin-top: 1rem; /* Adicionei margem superior */
  }

  #experience,
  .experience-details-container {
    margin-top: 8rem;
  }
  .section__text__p1{
    font-size: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 7rem 5% 0 5%; /* Aumentei a margem superior para 5rem */
  }

  .section__pic-container {
    width: 245px;
    height: 340px; 
    margin: 0 auto 2rem;
  }
  

  .sobre-containers {
    margin-top: 0;
  }
  footer p {
    text-align: center;
    margin-top: 5rem; /* Adicionei margem superior */
  
  }
}

@media screen and (max-width: 600px) {
  #contato,
  footer {
    height: 40vh;

  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .sobre-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contato-info-upper-container{
    font-size: 0.8rem;
  }
  .contact-info-container {
    margin: 0;
  }
  .section__text__p1{
    font-size: 1.2rem;
  }
  
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.9rem;
  }
  .links {
    flex-direction: column;
    text-align: center;
    width: 45px;
    
  }
  .section__pic-container {
    width: auto;
    height: 60vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: center;
  }
  /* #experience,
  .experience-details-container {
    margin-top: 10rem;
  } */
  /* .details-container{
    margin: 1rem 5% 0 5%; /* Aumentei a margem superior para 5rem */
  /* }
  .sobre-containers{ */
    /* margin: 1rem 5% 0 5%; Aumentei a margem superior para 5rem */
  /* } */ 
}
@media screen and (max-width: 376px) {
  section {
    margin: 10rem 5% 0 5%; /* Aumentei a margem superior para 5rem */
  }
  .links{
    font-size: 1.4rem;
    width: 45px;
  }
  .contato-info-upper-container {
  font-size: 0.6rem;

}
#contato{
  margin: 8rem 5% 0 5%; /* Aumentei a margem superior para 5rem */
}
/* #experience,
.experience-details-container {
  margin-top: 25rem;
} */
}